$black: #323232;
$blue: #0095ff;
$silver: #afafaf;
$yellow: #ffd700;
$white: #fff;

$darkblack: #000000;
$darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$lightgreen: #969f9a;
$darkgreen: #465655;

$error: #d22d2d;
