body {
  margin: 0;
  font:
    300 0.6875rem/1.4 'Avenir',
    'san-serif';
  color: #444;
  background-color: #022c43;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
